---
siteName: Chantel Von Ford
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{siteName}} </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>   
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/gallery.css">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>
<body>
  <header class="site-header">
        <!-- add site wide header content here -->
        {% include "nav.njk" %}
    </header>

  {{ content | safe }}

  <footer>
    <div>
      <p> Chantel Von Ford </p>
      <!-- You can change all of this footer content. -->
    </div>
  </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>