<nav class="site-nav">
  <div class="logo">
    Logo
  </div>
  <a href="#" class="hamburger" id="nav-toggle"><span></span></a>
  <div class="links" id="nav-links">
    <a href="/">Home</a>
    <a href="/Contact">Contact Page</a>
    <a href="/Gallery">Gallery</a>
    <a href="">Link 4</a>
  </div>
</nav>